.add_title,
.add_author,
.add_pages,
.add_read,
.RStatus, 
.add_to_library{
    display: none;
}

.appear{
    display: inline-block;
}

.dissapear {
    display: none;
}

.statusBtn {
    margin-left: .5rem;
    transition: all .5s ease-in;
}

.readed {
    background-color: rgb(12, 50, 163);
}